build/
bin/

.gradle/
.settings/
.project
.classpath

.idea
*.iml
*.ipr
*.iws
*.class
classes/

distro/bin/
distro/log/*
distro/test_output/

logs/*
*.log
out/*
*.stackdump

/local*

!*.pdb
!releases
!lib/*
!*.md

*.stackdump

venv/
tmp
