build/
bin/

.gradle/
.settings/
.project
.classpath

.idea
*.iml
*.ipr
*.iws
*.class
classes/

logs/*
*.log
out/*
*.stackdump

/local*

!*.pdb
!releases
!lib/*
!*.md

venv/
tmp

# P2Rank distro
distro/bin/
distro/log/*
distro/test_output/
distro/README.md
