<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
	<!--<ThresholdFilter level="all"/>-->
	<appenders>
		<Console name="Console" target="SYSTEM_ERR" > <!-- target="SYSTEM_ERR" -->
			<PatternLayout pattern="[%level] %logger{0} - %msg%n"/>
			<!--<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>-->
			<!--<pattern>[%level] %logger{0} - %msg%n</pattern>-->
		</Console>
	</appenders>
	<loggers>
		<Logger name="cz.siret.prank" level="INFO" />
		<root level="ERROR">
			<AppenderRef ref="Console"/>
		</root>
	</loggers>
</configuration>